.main {
    width: 100%;
    position: relative;
    top: 70px;

}

.main_title {
    height: 100px;
    width: 100%;
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.main_content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.left_content {
    width: 40%;
}

.right_content {
    width: 40%;
}

ul {
    list-style: none;
}

.info_group {
    padding: 20px;
}

.info_group input {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgba(210, 210, 210);
    text-indent: 1em;
}

.info_group input:focus {
    outline: none;
}

.order_info_group {
    padding: 20px;
    width: 100%;
}

.order_info_group ul {
    margin-top: 30px;
}

#commodity {
    background-color: #fff;
    border: none;
    height: 100px;
}

#commodity img {
    width: 50px;
    height: 50px;
    border-radius: 1em;
}

#commodity span {
    display: flex;
    align-items: center;
}

.order_info {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #fbfbfb;
}

.radio_group {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.radio_option {
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.radio_option h3 {
    padding-left: 50px;
}

.order_info_group input[type='submit'] {
    width: 100%;
    height: 50px;
    border: none;
    background-color: orange;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.order_info_group input[type='submit']:active {
    background-color: rgb(255, 181, 43);
}

/*done*/
.done {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.done_info_group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.done_info_group ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.done h1,
.done_info_group h2 {
    padding: 20px;
}

/* table */
.table-wrapper {
    width: 100%;
}

.flex-table {
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
    background-color: white;
}

.flex-table td,
.flex-table th {
    text-align: center;
    padding: 8px;
}

.flex-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.flex-table thead th {
    color: white;
    background-color: #4fc3a1;
}

.flex-table thead th:nth-child(odd) {
    background-color: #324960;
}

.flex-table thead tr:nth-child(even) {
    background-color: #f8f8f8;
}

@media (max-width: 767px) {
    .flex-table {
        display: block;
        width: 100%;
    }

    .flex-table thead,
    .flex-table tbody,
    .flex-table thead th,
    .flex-table tbody tr {
        display: block;
    }

    .flex-table tbody tr {
        display: table-cell;
    }

    .flex-table thead th:last-child {
        border-bottom: none;
    }

    .flex-table thead {
        float: left;
    }

    .flex-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .flex-table td,
    .flex-table th {
        padding: 20px 0.625em 0.625em 0.625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .flex-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .flex-table tbody tr:nth-child(odd) {
        background: none;
    }

    .flex-table tr:nth-child(even) {
        background: transparent;
    }

    .flex-table tr td:nth-child(odd) {
        background: #f8f8f8;
        border-right: 1px solid #e6e4e4;
    }

    .flex-table tr td:nth-child(even) {
        border-right: 1px solid #e6e4e4;
    }

    .flex-table tbody td {
        display: block;
        text-align: center;
    }
}