.background {
    margin-top: 70px;
    padding: 10px 20px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;

}

.background .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 42%;
    background-color: #f6f6f6;
}

.content {
    display: flex;
    flex-direction: column;
}

#content-title {
    font-size: 33px;
    font-weight: bolder;
}

.content-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    background-color: black;
    margin-right: 18em;
    margin-bottom: 10px;
}

.content-tag a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

span {
    display: block;
    margin: 10px 0px;
}

.background .showimg {
    height: 100%;
    width: 42%;
}

.showimg {
    position: relative;
}

.showimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showimg .mask {
    background-color: rgba(0, 0, 0, .05);
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
}