* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(230, 230, 230);
}

/*content*/
content {
    position: relative;
    top: 48px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*上傳圖片*/
/* .user_img{
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(74, 74, 255);
    border: 1px solid rgb(173, 173, 173);
}
#upload_input {
    display: none;
}
.upload_icon {
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
} */
.upload-file {
    position: relative;
    width: 100px;
    padding: 10px 15px;
    border: 1px solid rgb(119, 154, 80);
    border-radius: 5px;
    background-color: rgb(66, 215, 142);
    color: #fff;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
}

.upload-file span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.upload-file:hover {
    border-color: rgb(39, 226, 81);

}

.upload-file input[type='file'] {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.user_name {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.pic_btn {
    display: flex;
    align-items: center;
    width: 70%;
    height: 100px;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 1px solid rgb(173, 173, 173);
}

/*預覽*/
input[type='file'] {
    /* overflow: hidden; */
    display: none;
}

.img_btn {
    width: 100px;
    height: 40px;
    background-color: royalblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.img_btn:hover {
    background-color: rgb(61, 94, 196);
}

.img_btn:active {
    background-color: royalblue;
}

/*個人資料*/

.user_pwd {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 500px;
    background-color: #fff;
    margin: 0 50px 50px 0;
}

.user_pwd h1 {
    padding: 10px 0;
}

.user_pwd li {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 600px;
    background-color: #fff;
    margin: 0 50px 50px 0;
}

.user li {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_info ul {
    width: 100%;
}

.user_info li {
    width: 100%;
    padding: 20px 0px;
}

.option {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.option p {
    font-size: 20px;
}

.option input {
    width: 300px;
    height: 30px;
    text-indent: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/*btn*/
.btn {
    width: 100%;
    position: relative;
    right: 10px;
    display: flex;
    justify-content: flex-end;
}

.btn input {
    padding: 0;
    width: 100px;
    height: 45px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: royalblue;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.reset {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
}

.submit {
    height: 10%;
}

.error {
    color: red;
}