body>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 90px;
}

a {
    text-decoration: none;
    color: black;
}

.fa-cart-arrow-up::before{
    content: "\e3ee";
}
.hidden {
    display: none !important;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 150px;
    width: 100%;
    background-color: #fbfbfb;
}

.title span {
    padding: 50px;
}

.productblock {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-left: 60px;
}

.productblock .header {
    display: flex;
    height: 60px;
    justify-content: flex-end;
    flex-wrap: nowrap;
    padding-right: 100px;
}

.header div {
    display: flex;
    flex-wrap: nowrap;
}

.header select {
    border-radius: 25px;
    height: 50px;
    width: 180px;
    margin-left: 15px;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: bolder;
    color: #797979;
    outline: none;
}

.header select option {
    padding: 5px 0;
}

.header input {
    border-radius: 25px;
    height: 50px;
    width: 180px;
    margin-left: 15px;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: bolder;
    color: #797979;
    outline: none;
    border: 1px solid #797979;
}


.content {
    display: flex;
    padding: 10px;
    width: 100%;

}

.content .category ul {
    list-style-type: none;
    font-size: 18px;
    color: #363636;
    max-height: 600px;
    overflow-y: scroll;
}

:is(.category) *::-webkit-scrollbar {
    width: 10px;
}

:is(.category) *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #e2e2e2;
    cursor: pointer;
}

.content .category li {
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    font-weight: 500;
    font-size: 16px;
    width: 260px;

}

.content .category li:not(.ultitle) {
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 5px;
    border-bottom: 1px solid #8d8d8d8a;
    cursor: pointer;

}

.content .category li:not(.ultitle):hover {
    background-color: #eeeeee;
}

.content .ultitle {
    font-weight: 1000 !important;
    font-size: 22px !important;
}

.num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    background-color: #919191;
    color: white;
    font-size: 12px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 360px);
    padding-left: 80px;
    position: relative;
}

.product .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    margin: 20px;
}

.item .detail {
    width: 250px;
    padding-top: 20px;
}

.item .detail>* {
    padding-top: 2px;
    color: #444444;
}

.item .detail .p-title {
    font-size: 18px;
    font-weight: bolder;
}

.item .detail .p-category {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    border-top: 1px solid #bdbdbdb2;
}

.item .detail .p-price {
    font-weight: bolder;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: rgb(158, 158, 158);
    background-color: #dfdfdf;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
}

.cart:hover {
    color: rgb(255, 255, 255);
    background-color: #ff5e00;
    transition: all .5s ease;
}

.cart2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    background-color: #ff5e00;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
}

.cart2:hover {
    color: rgb(158, 158, 158);
    background-color: #dfdfdf;
    transition: all .5s ease;
}

/*分頁*/
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 50px 0px;
}

.page ul {
    display: flex;
    list-style-type: none;
    color: rgb(59, 59, 59);
    background-color: #e9e9e9;
    border-radius: 25px;
}


.page ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px !important;
    height: 30px !important;
    padding: 10px;
}

.page ul li:not(.active):hover {
    color: #ff5e00;
}

.page ul .active {
    border-radius: 25px;
    color: white;
    background-color: #ff5e00;
}

.no-drap {
    cursor: no-drop !important;
}