<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="../css/header.css" rel="stylesheet" />
    <link href="../css/index.css" rel="stylesheet" />
</head>


<body>
    <div class="loadmask">
        </a>
    </div>
    <div class="load">
        <hr />
        <hr />
        <hr />
        <hr />
    </div>
    <header>
    </header>
    <div class="background">
        <div class="content">
            <div class="content-tag">
                <a href="">商品賣場</a>
            </div>
            <div id="content-title">
                <span>以最便宜的價格</span>
                <span style="padding-left: 5em;">購買心儀的書籍</span>
            </div>
        </div>
        <div class="showimg">
            <div class="mask"></a>
            </div>
            <img src="../image/book-1283865_1920.jpg">
        </div>
    </div>
    <div class="container">

    </div>
</body>
<script src="../js/api/user.js"></script>
<script src="../js/header.js"></script>

</html>