<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="../css/header.css" rel="stylesheet" />
    <link href="../css/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">    
</head>


<body>   
    <header>
    </header>
    <div class="background">
        <div class="content">
            <div class="content-tag">
                <a href="">商品賣場</a>
            </div>
            <div id="content-title">
                <span>以最便宜的價格</span>
                <span style="padding-left: 5em;">購買心儀的書籍</span>
            </div>
        </div>
        <div class="showimg">
            <div class="mask"></a>
            </div>
            <img src="../image/book-1283865_1920.jpg">
        </div>
    </div>
    <div class="container">

    </div>
</body>
<script src="../js/api/user.js"></script>
<script src="../js/header.js"></script>
<script src="../js/chatusers.js"></script>

</html>