<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品</title>
    <link href="../css/header.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/product/product2.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <header></header>
    <section>
        <div class="title">
            <h1>商品</h1>
            <span>
                <a href="#">首頁 </a>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">商品</a>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">商品名稱</a>
            </span>
        </div>
        <div class="productblock">
            <div class="product-img-block">
                <img src="https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/092/30/0010923036.jpg&v=6261323c&w=348&h=348"
                    alt="" width="250px" height="250px">
            </div>
            <div class="product-detail">
                <div class="title">
                    <div id="name">商品名稱</div>
                    <div class="price">
                        <p>250 NT</p>
                        <span>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <span>（共有3則評論 )</span>
                        </span>
                    </div>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin justo enim, mattis id dapibus
                        quis, aliquam id leo. Curabitur efficitur commodo sagittis. Donec ornare interdum ligula.
                        Pellentesque at sagittis augue. Pellentesque in velit sit amet nisl posuere rutrum et eu diam.
                        Proin bibendum tempor nulla, a fermentum tellus consectetur et. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Nunc pharetra venenatis tortor. Nullam ut volutpat arcu, a lacinia
                        purus. Nam eleifend orci vel magna sodales, in semper erat ornare.</p>
                </div>
                <div class="purchase">
                    <div class="count">
                        <div id="minus"><i class="fa-solid fa-arrow-down"></i></div>
                        <input type="text" value="1">
                        <div id="add"><i class="fa-solid fa-arrow-up"></i></div>
                    </div>
                    <div class="addtocart">
                        <button><i class="fa-solid fa-cart-shopping"></i> 加入購物車</button>
                    </div>                    
                </div>
                <div class="sku">
                    <span>庫存：<span>5</span></span>
                </div>
                <div class="category-list">
                    <span>種類：</span>
                </div>                
                <div class="review">
                    <ul>
                        <li class="active">評價</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="../js/api/chatroom.js"></script>
<script src="../js/api/user.js"></script>
<script src="../js/chatusers.js"></script>
<script src="../js/header.js"></script>

</html>