<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品</title>
    <link href="../css/header.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/product/product2.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <header></header>
    <section>
        <div class="title">
            <h1>商品</h1>
            <span>
                <a href="#">首頁 </a>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">商品</a>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">商品名稱</a>
            </span>
        </div>
        <div class="productblock">
            <div class="product-img-block">
                <img src="https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/092/30/0010923036.jpg&v=6261323c&w=348&h=348"
                    alt="">
                <div class="select">
                    <img src="https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/092/30/0010923036.jpg&v=6261323c&w=348&h=348"
                        alt="">
                    <img src="https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/092/30/0010923036.jpg&v=6261323c&w=348&h=348"
                        alt="">
                    <img src="https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/092/30/0010923036.jpg&v=6261323c&w=348&h=348"
                        alt="">
                    <img src="https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/092/30/0010923036.jpg&v=6261323c&w=348&h=348"
                        alt="">
                </div>

            </div>
            <div class="product-detail">
                <div class="title">
                    <div id="name">商品名稱</div>
                    <div class="price">
                        <p>250 NT</p>
                        <span>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <span>（共有3則評論 )</span>
                        </span>
                    </div>
                </div>
                <div class="description">
                    <p>一般來說，歐陽修說過一句經典的名言，古人相馬不相皮，瘦嗎雖瘦骨法奇;
                        世無伯樂良可嗤，千金市馬惟市肥。這句話看似簡單，但其中的陰鬱不禁讓人深思。每個人都不得不面對這些問題。在面對這種問題時，務必詳細考慮商品的各種可能。若發現問題比我們想像的還要深奧，那肯定不簡單。不要先入為主覺得商品很複雜，實際上，商品可能比你想的還要更複雜。商品的存在，令我無法停止對他的思考。我們都知道，只要有意義，那麼就必須慎重考慮。巴爾扎克講過，痛苦跟歡樂一樣，會創造一種氣氛的。走進人家的屋子，你第一眼就可以知道它的基調是什麼，是愛情還是絕望。這段話令我陷入了沈思。雨果說過，世上只有兩種力量，一種是劍，一。這句話語雖然很短，但令我浮想聯翩。而這些並不是完全重要，更加重要的問題是，笛福說過一句經典的名言，需要時好人也會變成惡棍。這段話雖短，卻足以改變人類的歷史。問題的關鍵看似不明確，但想必在諸位心中已有了明確的答案。
                    </p>
                </div>
                <div class="purchase">
                    <div class="count">
                        <div id="minus"><i class="fa-solid fa-arrow-down"></i></div>
                        <input type="text" value="1">
                        <div id="add"><i class="fa-solid fa-arrow-up"></i></div>
                    </div>
                    <div class="addtocart">
                        <button><i class="fa-solid fa-cart-shopping"></i> 加入購物車</button>
                    </div>
                </div>
                <div class="sku">
                    <span>庫存：<span>5</span></span>
                </div>
                <div class="category-list">
                    <span>種類：</span>
                </div>
                <div class="review">
                    <ul>
                        <li class="active item">評價</li>
                        <li></a></li>
                        <li></a></li>
                        <li></a></li>
                        <li></a></li>
                        <li></a></li>
                        <li></a></li>
                        <li></a></li>
                        <li></a></li>
                        <li></a></li>
                    </ul>
                    <div class="review-content">
                        <div class="icon">
                            <img src="../image/user.png" alt="">
                        </div>
                        <div class="message">
                            <span class="username">
                                <div>
                                    lin － <span class="date">2022/5/17 16:36:05</span>
                                </div>
                                <div class="score">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </span>
                            <span class="text">
                                儘管如此，我們仍然需要對商品保持懷疑的態度。培根曾提出，如果民眾講的比上層人物講的更真實可信，這不必奇怪，因為民眾講話不用擔風險。但願諸位理解後能從中有所成長。每個人的一生中，幾乎可說碰到商品這件事，是必然會發生的。可是，即使是這樣，商品的出現仍然代表了一定的意義。
                            </span>
                        </div>
                    </div>
                    <div class="review-content">
                        <div class="icon">
                            <img src="../image/user.png" alt="">
                        </div>
                        <div class="message">
                            <span class="username">
                                <div>
                                    lin － <span class="date">2022/5/17 16:36:05</span>
                                </div>
                                <div class="score">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </span>
                            <span class="text">
                                儘管如此，我們仍然需要對商品保持懷疑的態度。培根曾提出，如果民眾講的比上層人物講的更真實可信，這不必奇怪，因為民眾講話不用擔風險。但願諸位理解後能從中有所成長。每個人的一生中，幾乎可說碰到商品這件事，是必然會發生的。可是，即使是這樣，商品的出現仍然代表了一定的意義。
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller-content">
            <div class="icon">
                <img src="../image/product/sellericon.jpg" alt="">
            </div>
            <div class="message">
                <span class="username">
                    lin
                    <span class="online">
                        在線中
                        <span class="online-label"><i class="fas fa-circle"></i></span>
                    </span>
                </span>
                <span class="chat">與我聯絡</span>
            </div>
        </div>
        <div class="product-title">
            <h1>賣家商品</h1>
        </div>
        <div class="product">
            <div class="item">
                <a href="product.html">
                    <img src="https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/092/30/0010923036.jpg&v=6261323c&w=348&h=348"
                        alt="" width="250px" height="250px"></a>
                <div class="detail">
                    <div class="p-title">商品名稱</div>
                    <div class="p-category">
                        商品種類
                        <span class="cart">
                            <i class="fa-solid fa-cart-arrow-down"></i>
                        </span>
                    </div>
                    <div class="p-price">250 NT</div>
                </div>
            </div>
            <div class="item">
                <a href="product.html">
                    <img src="https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/092/30/0010923036.jpg&v=6261323c&w=348&h=348"
                        alt="" width="250px" height="250px"></a>
                <div class="detail">
                    <div class="p-title">商品名稱</div>
                    <div class="p-category">
                        商品種類
                        <span class="cart">
                            <i class="fa-solid fa-cart-arrow-down"></i>
                        </span>
                    </div>
                    <div class="p-price">250 NT</div>
                </div>
            </div>
            <div class="item">
                <a href="product.html">
                    <img src="https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/092/30/0010923036.jpg&v=6261323c&w=348&h=348"
                        alt="" width="250px" height="250px"></a>
                <div class="detail">
                    <div class="p-title">商品名稱</div>
                    <div class="p-category">
                        商品種類
                        <span class="cart">
                            <i class="fa-solid fa-cart-arrow-down"></i>
                        </span>
                    </div>
                    <div class="p-price">250 NT</div>
                </div>
            </div>
            <div class="item">
                <a href="product.html">
                    <img src="https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/092/30/0010923036.jpg&v=6261323c&w=348&h=348"
                        alt="" width="250px" height="250px"></a>
                <div class="detail">
                    <div class="p-title">商品名稱</div>
                    <div class="p-category">
                        商品種類
                        <span class="cart">
                            <i class="fa-solid fa-cart-arrow-down"></i>
                        </span>
                    </div>
                    <div class="p-price">250 NT</div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="../js/api/chatroom.js"></script>
<script src="../js/api/user.js"></script>
<script src="../js/chatusers.js"></script>
<script src="../js/header.js"></script>

</html>