<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品</title>
    <link href="../css/header.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/product/product.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <header></header>
    <section>
        <div class="title">
            <h1>商品</h1>
            <span>
                <a href="#">首頁 </a>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">商品</a>
            </span>
        </div>
        <div class="productblock">
            <div class="header">
                <div>
                    <input type="text" placeholder="搜尋商品">
                    <select>
                        <option value="依價格高到低排序">依價格高到低排序</option>
                        <option value="依價格低到高排序">依價格低到高排序</option>
                        <option value="依價格排序">依日期排序</option>
                        <option value="依觀看數排序">依觀看數排序</option>
                        <option value="依成交量排序">依成交量排序</option>
                        <option value="依價格高到低排序">依價格評價排序</option>
                    </select>
                </div>
            </div>
            <div class="content">
                <div class="category">
                    <ul>
                        <li class="ultitle">商品種類</li>
                        <li>教科書<span class="num">5</span></li>
                        <li>參考書<span class="num">5</span></li>
                        <li>小說<span class="num">5</span></li>
                    </ul>
                </div>
                <div class="product">
                    <div class="item">
                        <a href="product.html">
                            <img src="https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/092/30/0010923036.jpg&v=6261323c&w=348&h=348"
                                alt="" width="250px" height="250px"></a>
                        <div class="detail">
                            <div class="p-title">商品名稱</div>
                            <div class="p-category">
                                商品種類
                                <span class="cart">
                                    <i class="fa-solid fa-cart-arrow-down"></i>
                                </span>
                            </div>
                            <div class="p-price">250 NT</div>
                        </div>
                    </div>
                </div>               
            </div>
            <div class="page">
                <ul>
                    <li><span><i class="fa-solid fa-angle-left"></i></span></li>
                    <li class="active"><span>1</span></li>                   
                    <li><span><i class="fa-solid fa-angle-right"></i></span></li>
                </ul>
            </div>
    </section>

</body>

<script src="../js/api/chatroom.js"></script>
<script src="../js/api/user.js"></script>
<script src="../js/chatusers.js"></script>
<script src="../js/header.js"></script>

</html>