<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員中心</title>
    <link href="../css/header.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/profile/profile.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <header></header>
    <div class="container">
        <div class="bar">
            <ul>
                <li>我是買家</li>
                <div class="collapse">
                    <ul>
                        <li>會員中心</li>
                        <li>交易紀錄</li>
                        <li>商品問答紀錄</li>
                        <li>問題回報</li>
                    </ul>
                </div>
                <li>我是賣家</li>
                <div class="collapse">
                    <ul>
                        <li>上架商品</li>
                        <li>商品管理</li>
                        <li>訂單查詢</li>
                        <li>問題回報</li>
                    </ul>
                </div>
            </ul>
        </div>
        <div class="profile">
            <div class="detail">
                <div class="content">
                    <div class="membericon">
                        <div class="icon">
                            <div>
                                <label for="filein" id="button"><i class="fa-solid fa-pen"></i></label>
                                <input type="file" id="filein">
                            </div>
                            <img src="../image/user.png" alt="">
                        </div>
                        <div id="name">asdf</div><span><i class="fa-solid fa-pen-to-square"></i></span>
                    </div>
                    <div class="group" style="padding-top: 30px;">
                        <div class="content-group">
                            <span>帳號：</span><span id="account">帳號</span>
                        </div>
                        <div class="content-group">
                            <span>密碼：</span>
                            <span id="account">***</span>
                            <span style="color:rgb(97, 97, 97); font-size: 16px;cursor: pointer;">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </span>
                        </div>
                        <div class="content-group">
                            <span>電子信箱：</span><span id="account">***</span>
                        </div>
                        <div class="content-group">
                            <span>角色：</span><span id="account">***</span>
                        </div>
                        <div class="content-group">
                            <span>地址：</span>
                            <span id="account">***</span>
                            <span style="color:rgb(97, 97, 97); font-size: 16px;cursor: pointer;">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="../js/api/chatroom.js"></script>
<script src="../js/api/user.js"></script>
<script src="../js/chatusers.js"></script>
<script src="../js/header.js"></script>

</html>