<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="../css/header.css" rel="stylesheet" />
    <link href="../css/resetpassword.css" rel="stylesheet" />
</head>

<body>
    <div class="loadmask">
        </a>
    </div>
    <div class="load">
        <hr />
        <hr />
        <hr />
        <hr />
    </div>
    <header></header>
    <div class="container">
        <div class="infoblock">
            <div class="title">
                <h1>密碼重設</h1>
            </div>
            <div class="form">
                <div class="formgroup">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-lock-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                    </svg>
                    <input type="password" placeholder="密碼" id="password">
                </div>
                <div class="error" id="passworde">
                </div>
                <div class="formgroup">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-lock-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                    </svg>
                    <input type="password" placeholder="確認密碼" id="passwordcheck">
                </div>
                <div class="error" id="passwordchecke">
                </div>
                <div class="error" id="tokene">
                </div>
                <div class="formgroup">
                    <div class="sendbtn">
                        <span>重設</span>
                    </div>
                </div>
                <div class="formgroup">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</body>
<script src="../js/api/user.js"></script>
<script src="../js/header.js"></script>
<script src="../js/resetpassword.js"></script>

</html>